<h3 class="text-primary mt-3">Select Category</h3>

<select #SelectItem name="categories" class="form-control mb-3" [(ngModel)]="SelectedCategoryID">
  <option value="" *ngFor="let item of CategoryList" [value]="item.id">{{item.Name}}</option>
</select>
<small id="selectHelp" class="form-text text-success">*Font style and color changed using <b>@viewChild()
    input</b>.</small>

<h3 class="text-secondary mt-4">Total: {{ OutPutTotalPrice | currency :'EGP' : 'symbol' : '1.0-0' }}</h3>

<hr class="ml-5 mr-5">

<div>
  <app-order-details (TotalPriceChanged)="onTotalPriceChanged($event)" [InputCategoryID]="SelectedCategoryID">
  </app-order-details>
</div>

<hr>
<h3 class="text-primary">Bought Items</h3>

<table id="data" class="table table-bordered table-hover table-secondary">
  <thead class="text-center align-middle">
    <tr class="bg-dark text-light">
      <th>#</th>
      <th>Product Name</th>
      <th>Bought Count</th>
    </tr>
  </thead>

  <tbody class="text-center align-middle">
    <tr class="align-middle" *ngFor="let item of BoughtItemsDetails; let i = index">
      <td class="align-middle">{{i+1}}</td>
      <td class="align-middle">{{item.Name}}</td>
      <td class="align-middle">{{item.Count}}</td>
    </tr>
  </tbody>
</table>
