<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" style="background-color: #F4F4F4;">
            <app-side-menu></app-side-menu>
        </div>
        <div class="col-9">
            <!-- <app-products></app-products> -->
            <!-- <app-shopping-cart></app-shopping-cart> -->
            <!-- <app-order-master></app-order-master> -->
            <!-- <app-home></app-home> -->

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>